
div.anuncio{
	border:1px solid #a1a1a1 !important;
}

.anuncio .bttotal{
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
}
.anuncio .btleft{
	border-top-left-radius: 10px !important;
}
.anuncio .btright{
	border-top-right-radius: 10px !important;
}
.anuncio div.bbtotal{
	border-bottom-left-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
}
.anuncio .bbleft{
	border-bottom-left-radius: 10px !important;
}
.anuncio .bbright{
	border-bottom-right-radius: 10px !important;
}