
div.anuncio{
	border:1px solid #a1a1a1 !important;
}

div.bttotal{
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
}
div.btleft{
	border-top-left-radius: 10px !important;
}
div.btright{
	border-top-right-radius: 10px !important;
}
div.bbtotal{
	border-bottom-left-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
}
div.bbleft{
	border-bottom-left-radius: 10px !important;
}
div.bbright{
	border-bottom-right-radius: 10px !important;
}