#contenedor{
	margin: 0 auto;
    width: 80%;
}





.btn{
	cursor:pointer;
	font-family:Verdana;
	font-size:1em;
	transition: background-color 0.2s;
}
.btn-form{
	color:#FFF;
	border:none;
	margin:0;
	padding: 0.5em 1em;
}
.btn-aceptar{
	background-color: #46AF46;
}

.btn-cancelar{
	background-color: #C73C3C;
}

.btn-aceptar:hover{
	background-color: #424242;
}

.btn-cancelar:hover{
	background-color: #424242;
}
