#contenedor{
	margin: 0 auto;
    width: 80%;
}
.crearProducto .crearProducto{
	margin: 0 auto;
}
.crearProducto .infProducto{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: center;
	position:relative;

}
.crearProducto .infProducto label,.crearProducto .infProducto #upImagen{
	margin-top: 1em;
}
.crearProducto .infProducto #descripcionPublicacion{
	height: 70%;
	width: 70%;
}
.crearProducto input,.crearProducto select{
	display: block;
	margin: 0 auto;
}
.crearProducto .lblseguidos label{
	display: inline-block;
}

@media only screen and (max-width: 1023px) {
  .crearProducto .infProducto{
	width: 100%;
	height: 400px;
	}
}
@media only screen and (min-width: 1024px){
  .crearProducto .infProducto{
	width: 50%;
	height: 400px;
	float: left;
	}
}
.crearProducto .btnSubmit{
	margin-top: 0.5em;
	padding: 0.5em;
}
