body{
	margin: 0;
	padding: 0;
	background-color: rgba(155, 200, 21, 0.90);
}
header{
	/*background-color: #F1F1E9;*/
	background-color: #F1F1E9;
	position: relative;
	top:0;
	height: 85px;
}
nav{
	background-color: #F1F1E9;
	box-shadow: 0 1px 0 #9BC815;
	position: relative;
	margin: 0;
	padding-top: 10px;
	/*height: 80px;*/
	z-index: 50;
}
article{

}
label{
	font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;

}
.fleft{
	float:left;
}
.fright{
	right: 0;
}
.flotante{
	background-color: rgba(241,241,233,0.9);
	width: 100%;
}
.fixed{
	position: fixed;
}

a.iconH{
	float: right;
	color: #424242;
	font: 3.5em sans-serif;
	margin-right: 20px;
}
span.mensaje{
	position: relative;
	font-size: 2em;
	left: -10px;
	margin: 0;
	padding: 0;
}
article#bt-menu{
	height: 100%;
	width: 100%;
	background-color: rgba(155, 200, 21, 0.90);
}
#productos{
	width: 80%;
    	margin: 0 auto;
}
#productos img{
	margin: 20px;
	border: 5px solid #DBDBD4;
	/*box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);*/
}


.slider {
 overflow-y: hidden;
 max-height: 200px;
 height: 200px;
 width: 100%;

 transition-property: all;
 transition-duration: .5s;
 }

 .closed {
 max-height: 0;
 }

 .frente{
 	position:absolute;
 	max-height: 200px;
 }

 .detras{
 	background: rgb(182,152,152);
 }
 .sliders:hover .frente{
 	max-height: 0px;
 }

 .open{
 	max-height: 200px;
 }
