.nes1-ico{
	background-position: 0px 0;
}
.nes2-ico{
	background-position: 0px -16px;
}
.nes3-ico{
	background-position: 0px -32px;
}
.moneda-ico{
	background-position: 0px -48px;
}
[class*=ico] {
	padding:0 0 0 15px;
	margin-bottom:0 !important;
	width: 16px;
	height: 16px;
	background-image: url(https://raw.github.com/julillo/bazar/Pruebas/imagenes/iconos.png);
	background-size:16px 64px;
}