h1, h2, h3, h4, h5, h6 {
font-family: 'museo-sans', sans-serif;
font-weight: 100;
color: #F29b00;
}
article{
 font-family: arial,sans-serif;
 margin-left: 2em;
}
mark {
  background-color: #fff;
  font-weight: normal;
  // font-family: 'museo-sans';
  color: #00bdff;
  font-size: 1.1em;
}

h1 {
	margin: 0px;
	font-size: 3.5em;
	padding-bottom: 10px;
}
section{
	padding-top: 100px;
}
h4 {
	padding-right: 20px;
}
h3{
	font-size: 1.7em;
	padding-bottom: 10px;
	border-bottom: 1.2px solid #F29b00;
}
footer{
	color: #CFCFCF;
}


#navbar {
	position: fixed;
	z-index: 600;
	top: 0;
}
.contain-to-grid {
	width: 100%;
	background: #111;
}
.top-bar .title-area {
	float: left;
}
.top-bar-section ul li {
	float: left;
}
#navbar a, #navbar h4 {
	color: white;
}


.left {
	float: left !important;
}
.right {
	float: right !important;
}

#navbar a.button#careers {
	background-color: #F9372F;
	border-right: 6px solid #000;
}
#navbar a.button#order {
	background-color: #1dbcee;
}

a.button:hover#careers {
	background-color: #C92920 !important;
	text-decoration: none;
}

a.button:hover#order {
	background-color: #2ba6cb !important;
	text-decoration: none;
}

#navbar a.button {
	font-weight: 100;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 4px 15px;
	font-size: 18px;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}